<video id="<%= id %>" poster="<%= poster %>" class="video-js vjs-styles-defaults" width="400" height="300" style="margin-left:auto; margin-right:auto;">
    <source src="<%= url %>" type="rtmp/mp4"/>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video>
