<!DOCTYPE html>
<form class="form-horizontal" role="form">
    <div class="form-group form-group-sm">
        <label for="coordSystemField" class="col-md-5 col-sm-5 control-label">Koordinatensystem</label>
        <div class="col-md-7 col-sm-7">
            <select class="form-control input-sm pull-left" id="coordSystemField">
                <% _.each(this.model.get("projections"), function(projection) {
                    var title = projection.title ? projection.title : projection.name;

                    if (projection.name === this.model.get("mapProjection").getCode()) {%>
                        <option value=<%= projection.name %> SELECTED><%= title %></option>
                    <%} else { %>
                        <option value=<%= projection.name %>><%= title %></option>
                <% }}, this); %>
            </select>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label id="coordinatesEastingLabel" for="coordinatesEastingField" class="col-md-5 col-sm-5 control-label">Rechtswert</label>
        <div class="col-md-7 col-sm-7">
            <input type="text" class="form-control" id="coordinatesEastingField" readonly>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label id="coordinatesNorthingLabel" for="coordinatesNorthingField" class="col-md-5 col-sm-5 control-label">Hochwert</label>
        <div class="col-md-7 col-sm-7">
            <input type="text" class="form-control" id="coordinatesNorthingField" readonly>
        </div>
    </div>
</form>
